{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Trading App Ebury Test</title>
  </head>
  <body>
    {% verbatim %}
    <div class="container" id="app">
        <div id="home-page" v-bind:class="mainViewClass">
            <div class="row mt-5">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary" v-on:click="displayView">New Trade</button>
                </div>
            </div>
            <table class="table mt-2">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Sell CCY</th>
                        <th scope="col">Sell Amount</th>
                        <th scope="col">Buy CCY</th>
                        <th scope="col">Buy Amount</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Date Booked</th>
                    </tr>
                </thead>
                <tbody v-for="trade in trades">
                    <tr>
                        <td>{{ trade.sell_currency }}</td>
                        <td>{{ trade.sell_amount }}</td>
                        <td>{{ trade.buy_currency }}</td>
                        <td>{{ trade.buy_amount }}</td>
                        <td>{{ trade.rate }}</td>
                        <td>{{ trade.date_booked }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="new-trade" v-bind:class="newTradeClass">
            <div class="row mt-5">
                <div class="col">
                    <div class="alert alert-danger" v-bind:class="errorReponseClass" role="alert">{{ responseError }}</div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">Sell Currency</div>
                <div class="col">Rate</div>
                <div class="col">Buy Currency</div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <select v-model="sellCurrency" v-on:change="getRate">
                        <option disabled value=""></option>
                        <option v-for="option in symbols" v-bind:value="option">
                            {{ option }}
                        </option>
                    </select>
                </div>
                <div class="col-1"><i class="fas fa-arrow-right"></i></div>
                <div class="col-2">{{ rate }}</div>
                <div class="col-2"><i class="fas fa-arrow-right"></i></div>
                <div class="col-4">
                    <select v-model="buyCurrency" v-on:change="getRate">
                        <option disabled value=""></option>
                        <option v-for="option in getBuySymbols()" v-bind:value="option">
                            {{ option }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">Sell Amount</div>
                <div class="col"></div>
                <div class="col">Buy Amount</div>
            </div>
            <div class="row mt-2">
                <div class="col"><input type="text" name="sellAmount" v-model="sellAmount" v-on:change="calculateBuyAmount"></div>
                <div class="col"></div>
                <div class="col"><input type="text" name="buyAmount" v-model="buyAmount" disabled></div>
            </div>
            <div class="row mt-2">
                <div class="col"><button type="button" class="btn btn-secondary" :disabled="rate == 0 || buyAmount == undefined" v-on:click="saveTrade">Create</button></div>
                <div class="col"></div>
                <div class="col">
                    <button type="button" class="btn btn-secondary" v-on:click="displayView">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}

    <script src="https://kit.fontawesome.com/63db901f8e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
